<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>capture microphone audio</title>
    <audio id="player" controls></audio>
    <button id="start-camera">Start Camera</button>
    <video id="video" width="320" height="240" autoplay></video>
    <button id="start-record">Start Recording</button>
    <button id="stop-record">Stop Recording</button>
    <a id="download-video" download="test.webm">Download Video</a>
    <script type="text/javascript" src="/static/sketch.js"></script>
    
    </head>
    <body>
    
        <p>Volume</p>
        <input id="volume" type="range" min="0" max="1" step="0.1" value="0.5"/>
    
    </body>
    </html>